# LLM & Orchestration
langchain==0.3.25
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
langchain-community==0.3.24

# Embeddings
sentence-transformers==3.4.1

# Vector Store
chromadb==0.6.3

# PDF Loading
pymupdf==1.25.5

# Environment
python-dotenv==1.1.0
